{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Checkout</h2>

    <form method="POST" accept="{{ url_for('views.place_order') }}">
        <div class="form-group mb-3">
            <label for="phone_number">Phone Number:</label>
            <input type="text" class="form-control" name="phone_number" id="phone_number" required placeholder="07XXXXXXXX" />
        </div>

        <button type="submit" class="btn btn-success">Pay with M-Pesa</button>
    </form>
</div>
{% endblock %}