{% extends 'base.html' %}

{% block title %}{{ product.product_name }}{% endblock %}

{% block body %}
<div class="container-m5">
    <div class="row">
        <div class="col-sm-6">
            <img src="{{ url_for('static', filename='uploads/' + product.image)}}" alt="{{ product.product_name }}" class="img-fluid" />
        </div>
        <div class="col-sm-6">
            <h2>{{ product.product_name }}</h2>
            <h4 class="text-success">Price {{ product.price }}</h4>
            {% if product.previous_price %}
            <p class="text-muted"><del>Price {{ product.previous_price }}</del></p>
            {% endif %}
            <p>{{ product.description }}</p>

            {% if current_user.is_authenticated %}
                <form action="{{url_for('views.add_to_cart', item_id=product.id) }}" method="POST">
                    <button type="submit" class="btn btn-primary" style="background-color: rgb(6, 121, 13);">Add to Cart</button>
                </form>
                {% set is_in_wishlist = false %}
                {% for item in current_user.wishlist %}
                    {% if item.product_id == product.id %}
                        {% set is_in_wishlist = true %}
                    {% endif %}
                {% endfor %}

                {% if not is_in_wishlist %}
                    <form method="POST" action="{{ url_for('views.add_to_wishlist', product_id=product.id) }}">
                        <button type="submit" class="btn btn-warning mt-2" style="background-color: rgb(6, 121, 13);">Add to Wishlist</button>
                    </form>

                {% else %}
                <p class="text-warning" style="background-color: rgb(6, 121, 13);">Login to add to cart</p>
                {% endif %}
            {% endif %}
            <form action="{{ url_for('views.buy_now', product_id=product.id) }}" method="POST">
                <button type="submit" class="btn btn-warning" style="background-color: rgb(6, 121, 13); margin-top: 10px;">
                    Buy Now
                </button>
            </form>
        </div>
    </div>
</div>

{% endblock %}